* {
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
}

.container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 475px;
}

.display {
    border: 1px solid black;
    text-align: right;
    margin-bottom: 10px;
}

.upperDisplay {
    height: 30px;
    margin: 0;
    padding: 15px 15px 0 0;
}

.lowerDisplay {
    height: 60px;
    margin: 0;
    padding: 30px 15px 0 0;
}

.calculation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.stretch {
    grid-column: span 2;
}