* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    position: fixed;
    bottom: 0;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 475px;
}

.display {
    border: 1px solid black;
    text-align: right;
}

.upperDisplay {
    height: 30px;
    margin: 0;
    padding: 15px 15px 0 0;
}

.lowerDisplay {
    height: 60px;
    margin: 0;
    padding: 30px 15px 0 0;
}