html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fb;;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 90vh;
    min-height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 475px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #354259;
}

.display {
    text-align: right;
    min-height: 105px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f8f9fb;
    word-wrap: break-word;
    word-break: break-all;
}

.upperDisplay {
    min-height: 35px;
    margin: 0;
    padding: 15px 15px 0 0;
    font-size: 1.5rem;
}

.lowerDisplay {
    min-height: 70px;
    margin: 0;
    padding: 30px 15px 0 0;
    font-size: 2rem;
}

.calculation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.stretch {
    grid-column: span 2;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}


.github-icon {
    transition: 0.5s;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.25);
    transition: 0.5s;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.calcButton {
    padding: 15px;
    background-color: #f8f9fb;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
}

.calcButton:hover {
    background-color: #E8E8E8;
}

.clearButton {
    background-color: #319EF4;
}

.deleteButton {
    background-color: #FF6363;
}

.clearButton:hover {
    background-color: #51ADF6;
}

.deleteButton:hover {
    background-color: #FF8585;
}
